@import "../game.component.scss";

.board-container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  padding: 20px;

  .box {
    height: 33.33333%;
    width: 33.33333%;
  }
}
