@import "../game.component.scss";

.header-container {
  padding: 20px;
  text-align: center;

  .title {
    font-size: 30px;
    font-weight: bold;
    opacity: 0;

    animation: spacing 3s forwards;
    animation-delay: 2s;

    .shake {
      color: rgba(232, 246, 0, 1);
    }
  }

  @keyframes spacing {
    0% {
      opacity: 0;
      letter-spacing: 0px;
    }

    100% {
      opacity: 1;
      letter-spacing: 10px;
    }
  }
}

@media (max-width: 600px) {
  .header-container {
    padding: 20px 10px;
    .title {
      font-size: 25px;
    }
  }
}
