@import "../board.component.scss";

.box-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  // Animation
  opacity: 0;
  background-repeat: no-repeat;
  background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 1s cubic-bezier(0.19, 1, 0.22, 1) 1 forwards;

  .value {
    animation: fade-in 0.5s forwards;
  }

  .circle {
    width: 90px;
    height: 90px;

    .circle-inner {
      height: 70px;
      width: 70px;

      border-radius: 50%;
      border: 10px solid white;
    }
  }

  .cross {
    width: 90px;
    height: 90px;
    position: relative;
  }
  .cross:before,
  .cross:after {
    position: absolute;
    left: 40px;
    content: " ";
    height: 90px;
    width: 10px;
    background-color: white;
    border-radius: 3px;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 600px) {
  .box-container {
    .circle {
      width: 50px;
      height: 50px;

      .circle-inner {
        height: 40px;
        width: 40px;

        border: 5px solid white;
      }
    }

    .cross {
      width: 50px;
      height: 50px;
    }
    .cross:before,
    .cross:after {
      left: 23px;
      height: 50px;
      width: 5px;
      border-radius: 1px;
    }
  }
}

@keyframes bg {
  0% {
    opacity: 0;
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    opacity: 1;
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}

@keyframes o-winner {
  0% {
    transform: scale(1);
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  50% {
    // transform: rotate(180deg) translateX(5px) rotate(-180deg);
  }
  100% {
    transform: scale(1.4);
    transform: rotate(360deg) translateX(0px) rotate(-360deg);
  }
}

@keyframes o-not-winner {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.75;
  }
}

@keyframes x-winner {
  0% {
    transform: scale(1);
    transform: rotate(0);
  }

  100% {
    transform: scale(1.4);
    transform: rotate(180deg);
  }
}

@keyframes x-not-winner {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
