@import "../app.component.scss";

.game-container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .full-width {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
