@import "../game.component.scss";

.scoring-container {
  width: 100%;
  padding: 20px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;

  animation: fade-in 3s forwards;
  animation-delay: 2s;

  .current-player {
    width: 90%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    label {
      text-align: center;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .game-state {
    width: 90%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    label {
      font-weight: lighter;
      text-align: center;
      font-size: 0.8em;
    }
  }
}
